@model IEnumerable<University.Models.Group>

@{
    ViewData["Title"] = "Группа";
}

<h1>Группы на курсе</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Группа
            </th>
            <th>
                Курс
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                <a  asp-controller="Students" asp-action="Index" asp-route-id ="@item.Id">Состав группы</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
